# Core functionality - changes here should be rare!
/src/app.py                   @Anay-Cognistx
/src/backend/database.py      @Anay-Cognistx
/src/backend/routers/auth.py  @Anay-Cognistx

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Anay-Cognistx
